@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

.pod-info-container{
  font-family: "Nunito";
  font-weight: 500;
  font-size: 20px;
  align-items: center;
}