.dashboard {
  width: 100%;
  height: 200%;
  background-size: cover;
}

.top-bar {
  /* border: 2px solid black;
  background-color: #EBF0E5; */
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-size: 200% auto;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  border: none;
  background-color: rgb(222, 145, 41);
  /* box-shadow: 0 4px 6px #E2E0E1, 0 1px 3px #EC6536;
  background-image: linear-gradient(to right, #ec6336a4 0%, #f7bd58df 50%, #ec6336a4 100%); */
  transition: 0.5s;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75px;
}

.top-bar:hover {
  background-position: right center;
}

/* .logo {
  margin-right: 200px;
} */

.header-logo {
  position: fixed;
  left: 0;
  margin-top: 5px;
  margin-left: 50px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  height: 100%;
}

.query-bar {
  position: fixed;
  left: 0;
  margin-left: 20px;
  margin-top: 10px;
  height: 800px;
  max-width: 250px;
  margin-right: 100px;
}

.right-side {
  margin-left: 300px;
  position: relative;
}

.display {
  border: 1.2px solid #ec633677;
  box-shadow: 0 4px 6px #E2E0E1, 0 1px 3px #ec6336b5;
  flex: 0.3;
  height: 200px;
  width: 650px;
  margin-top: 50px;
}

.display img {
  height: 200px;
  width: 500px;
  margin-top: -58px;
}

.pods-header {
  height: 35px;
  width: 96%;
  /* position: fixed; */
  /* position: absolute; */

  display: flex;
  /* justify-content: center; */
  
  background-size: 200% auto;
  border: none;
  border-radius: 1rem;
  background-color: rgb(222, 145, 41);
  /* box-shadow: 0 4px 6px #f7bd58df, 0 1px 3px #EC6536;
  background-image: linear-gradient(to right, #ec6336a4 0%, #f7bd58df 50%, #ec6336a4 100%); */
  transition: 0.5s;
  /* margin-top: 5px;
  margin-bottom: 5px; */
  margin-top: 30px;
  margin-bottom: -15px;
  /* margin-bottom: 50px; */
}

.pods-header h5 {
  padding-left: 10px;
  margin: 30px;
  margin-top: 10px;
}

.all-pod-info {
  border: 1.2px solid #ec633677;
  border-radius: 1rem;
  box-shadow: 0 4px 6px #E2E0E1, 0 1px 3px #ec6336b5;
  flex: 0.3;

  height: 290px;
  width: 650px;

  margin-top: 20px;
  overflow-y: scroll;
  
}

.pod-info {
  height: 50px;
  width: 97%;

  display: flex;
  justify-content: center;
  
  background-color: #E2E0E1;
  border: 1.2px solid #ec633677;
  border-radius: 1rem;
  box-shadow: 0 4px 6px #E2E0E1, 0 1px 3px #ec6336b5;
  /* margin-top: 5px;
  margin-bottom: 5px; */
  margin: 5px;
  padding-bottom: 10px;
  padding-top: -10px;
}



.pods-header:hover {
  background-position: right center;
}

.pod-info h5 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .right-side {
    margin-left: 180px;
  }
  .query-bar {
    margin-left: 5px;
    width: 220px;
  }
  .header-logo {
    position: fixed;
    left: 0;
    margin-top: 5px;
    margin-left: 2px;
  }
  .display {
    width: 200px;
  }
  .all-pod-info {
    width: 200px;
  }
  .pods-header {
    width: 190px;
  }
}


.url-input {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50%;
  margin-left: 20px;
  margin-right: 20px;
  align-self: center;
}

.url-input h5 {
  margin-top: 5px;
  color: white;
  font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
}

.login-buttons{
  display: flex;
  align-items: center;
  margin-left: 100px;
}

