.dashboard {
  width: 100%;
  height: 200%;
}

.top-bar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  width: 100%;
  height: 75px;
  border: 1.2px solid #ec633677;
  box-shadow: 0 2px 3px #E2E0E1, 0 1px 3px #ec6336b5;
}

.header-logo {
  position: fixed;
  left: 0;
  margin-top: 5px;
  margin-left: 50px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  height: 100%;
}

.query-bar {
  position: fixed;
  left: 0;
  margin-left: 20px;
  margin-top: 10px;
  height: 800px;
  max-width: 250px;
  margin-right: 100px;
}

.right-side {
  margin-left: 300px;
  position: relative;
}

.display {
  border: 1.2px solid #ec633677;
  box-shadow: 0 4px 6px #E2E0E1, 0 1px 3px #ec6336b5;
  flex: 0.3;
  height: 200px;
  width: 550px;
  margin-top: 50px;
}

.display img {
  height: 200px;
  width: 550px;
  margin-top: -58px;
}

.pods-header {
  height: 35px;
  width: 100%;
  display: flex;
  border: none;
  border-radius: 5px;
  background-color: rgb(222, 145, 41);
  transition: 0.5s;
  margin-top: 30px;
  margin-bottom: -15px;
}

.pods-header h5 {
  padding-left: 10px;
  margin: 30px;
  margin-top: 10px;
  color: white;
}

.all-pod-info {
  border: 1.2px solid #ec633677;
  border-radius: 5px;
  flex: 0.3;
  height: 290px;
  width: 650px;
  margin-top: 20px;
  overflow-y: auto
}

.pod-info {
  height: 50px;
  width: 97%;
  display: flex;
  justify-content: center;
  background-color: #E2E0E1;
  border: 1.2px solid #ec633677;
  border-radius: 5px;
  margin: 5px;
  padding-bottom: 10px;
  padding-top: -10px;
}

.pod-info h5 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .right-side {
    margin-left: 180px;
  }
  .query-bar {
    margin-left: 5px;
    width: 220px;
  }
  .header-logo {
    position: fixed;
    left: 0;
    margin-top: 5px;
    margin-left: 2px;
  }
  .display {
    width: 200px;
  }
  .all-pod-info {
    width: 200px;
  }
  .pods-header {
    width: 190px;
  }
}

