.display {
    border: 1.2px solid #ec633677;
    flex: 0.3;
    height: 300px;
    width: 650px;
    margin-top: 50px;
    background-color: #E2E0E1;
  }
  
  .display img {
    height: 200px;
    width: 550px;
    margin-top: -58px;
  }

  .display button {

    margin-top: 0px;
    margin-left: 0px;
    font-size: 12px;
    height: 25px;
    width: 100px;
    padding: 0px;
    vertical-align: center;
  }

  .display-menu {
    display: flex;
    justify-content: left;

    height: 50px;
    position:absolute; 
    top: 19px;

    z-index: -1;
    border: 5px solid #ec633677;
  }

  #myChart {
    max-height: 100%;
    width: 100%;
  }