@import url('https://fonts.googleapis.com/css?family=Raleway');

.query-container {
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }

/* Popup Texts & button */
  .query-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* //Button Link */
  .query-btn-unselected {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    border-radius: 5%;
    margin: 10px;
    padding: 1.4em 3.5em;
    border: none;
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgb(222, 145, 41) 0%, #f7bd58df 50%, rgb(222, 145, 41)100%);
    transition: 0.5s;
  }

  .query-btn-unselected:hover {
    background-position: right center;
  }

  .query-btn-unselected:focus {
    background-position: right center;
  }

  /* @media only screen and (max-width: 600px) {
    .query-btn {
      padding: 1.4em 1em;
      margin-left: 0;
      width: 150px;
    }
    .sub {
      width: 170px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
      margin-left: 0;
    }
    .query-container {
      width: 160px;
    }
  } */