@import url('https://fonts.googleapis.com/css?family=Raleway');

.query-container {
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }

  .sub {

  }

/* // Popup Texts & button */
  .query-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* //Button Link */
  .query-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    border-radius: 5%;
    margin: 10px;
    padding: 1.4em 3.5em;
    background-size: 200% auto;
    border: none;
    box-shadow: 0 4px 6px #f7bd58df, 0 1px 3px #EC6536;
    background-image: linear-gradient(to right, #ec6336a4 0%, #f7bd58df 50%, #ec6336a4 100%);
    transition: 0.5s;
  }

  .query-btn:hover {
    background-position: right center;
  }

  .query-btn:active {
    transform: scale(0.98);
    /* box-shadow: 0 4px 6px #3A36C2, 0 1px 3px #EC6536; */
    /* Lowering the shadow */
  }

  @media only screen and (max-width: 600px) {
    .query-btn {
      padding: 1.4em 1em;
      margin-left: 0;
      width: 150px;
    }
    .sub {
      width: 170px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
      margin-left: 0;
    }
    .query-container {
      width: 160px;
    }
  }